body {
    background-color:rgb(13,13,13);
    display: flex;           
    justify-content: center; 
    align-items: center;  
 }

#icon_SB{
    color:rgb(255, 255, 255);

}

.contariner{
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50,-50);
}

.search-box{
    width: 60%;
    position: relative;
    display: flex;
}

.search{
    width: 100%;
    padding: 5px;
    height: 24px;
    background-color:rgb(77,77,77);
    outline: none;
    border: none;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
    font-size: 15px;
    color: rgb(201,213,217);
    transition: 0.2s background-color;
}

.search:hover{
    background-color:rgb(102,102,102);
}

.search-btn{
    width: 40px;
    height: 34px;
    background-color:rgb(243,47,86);
    border: none;
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    margin-left: -2px;
    transition: 0.2s background-color;
}

.search-btn:hover{
    background-color: rgb(247,89,121);
}
