body {
    background-color:rgb(13,13,13);
    display: flex;           
    justify-content: center; 
    align-items: center;  
 }

#icon_SB{
    position: absolute;
    color:rgb(255, 255, 255);
    height: 25px;
}

input[type="text"]{
    background-color:rgb(77,77,77);
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    border: none;
    outline: none;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
    font-size: 20px;
}

button{
    background-color:rgb(247,89,121);
    position: absolute;
    cursor:pointer;
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
    margin: -5px;
    left: 0px;
    top: 0px;
    z-index: -1;
}